 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Vens后台管理系统</title> 
    <meta name="keywords" content=" ">
    <meta name="description" content=""> 
 

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <!--图标-->
    <link rel="shortcut icon" href="">
    <link href="__H+__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__H+__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet"> 
    <link href="__H+__/css/style.min862f.css?v=4.1.0" rel="stylesheet">




    <script src="__H+__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__H+__/js/bootstrap.min.js?v=3.3.6"></script> 
    <!--script src="__H+__/js/cookie.js"></script>
    
    <script type="text/javascript">
  

    //获取 cookie 值  
    var uid=$.cookie('uid');  

 
    </script-->
    <!--script src="__H+__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__H+__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__H+__/layer/src/layer.js"></script>  
    <script src="__H+__/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="__H+__/js/contabs.min.js"></script>
    <script src="__H+__/js/plugins/pace/pace.min.js"></script>

    <!-echarts->
    <script src="__Hecharts__/js/echarts.min.js" charset = "utf-8"></script>
    <script src="__Hecharts__/js/echarts-gl.min.js" charset = "utf-8"></script-->
 